.contact-form {
  &__input-container > * {
    display: block;
    width: 100%;
  }

  &__label {
    margin-bottom: 0;
    color: var(--color-text);
  }

  &__input {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow-border);
    padding: 0.2rem;
    color: var(--color-text);
  }
}

.invalid {
  background: rgb(241, 177, 177);
  color: #333;
}
